DISCORD_TOKEN=your_bot_token
DISCORD_GUILD_ID=your_server_id
DATABASE_URL=your_postgres_url
GOOGLE_DOCS_DOCUMENT_ID_DOOLY=your_dooly_google_doc_id
GOOGLE_DOCS_DOCUMENT_ID_KOSZAN=your_koszan_google_doc_id
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
